@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #082032;
  color: #334756;
}

header {
  margin: 1em 0 2em 0;
  & h1 {
    font-size: 2.8em;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    line-height: 0.8em;
    text-transform: uppercase;
  }
}

main {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: auto 2em auto;
  max-width: 500px;
  margin: 0 auto;
}

.intro {
  grid-column: 2;
  line-height: 1.6em;
  font-family: monospace;
}

.generator {
  grid-row: 3;
  grid-column: 2;

  display: grid;
  grid-template-rows: 1em 1fr 1em 1fr 1em 1fr 1em;
  grid-template-columns: 1em 1fr 1em 1fr 1em;

  &__length {
    grid-row: 2;
    grid-column: 2;

    font-family: "Orbitron", sans-serif;
    padding: 0.7em;
    border: none;
    border-radius: 0.8em;
    background-color: #334756;
    color: #082032;
  }

  &__password {
    grid-row: 4;
    grid-column: 2;
    grid-column-end: span 3;

    font-family: monospace;
    background-color: #334756;
    color: #082032;
    font-size: 1.2em;
    text-align: center;
    padding: 0.7em;
    border: none;
    border-radius: 0.8em;
    letter-spacing: 0.11em;
  }

  &__btn {
    font-family: "Orbitron", sans-serif;
    padding: 0.7em;
    border: none;
    border-radius: 0.8em;
    background-color: #334756;
    color: #082032;
    font-weight: 600;
    box-shadow: 0 0 7px antiquewhite;

    &--create {
      grid-row: 2;
      grid-column: 4;
      box-shadow: 0 0 12px antiquewhite;
      &:active {
        box-shadow: 0 0 20px green;
      }
    }
    &--copy {
      grid-row: 6;
      grid-column: 2;

      &:active {
        box-shadow: 0 0 20px skyblue;
      }
    }
    &--reset {
      grid-row: 6;
      grid-column: 4;
      &:active {
        box-shadow: 0 0 20px red;
      }
    }
  }
}

.copied {
  position: relative;
  &::after {
    content: "Password copied";
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 1em;
    text-align: left;
    background-color: #334756;
    color: antiquewhite;
    padding: 0.6em;
    border-radius: 0.4em;
    font-weight: 500;
  }
}

@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: 5% auto 2em auto 5%;
    grid-template-rows: auto;
    max-width: 70%;
  }

  .intro {
    grid-column: 2;
    // max-width: 35%;
  }

  .generator {
    grid-row: 1;
    grid-column: 4;
    height: 10em;

    &__btn {
      &:hover {
        box-shadow: 0 0 20px antiquewhite;
      }
      &--create {
        &:active {
          box-shadow: 0 0 20px green;
        }
      }
      &--copy {
        &:active {
          box-shadow: 0 0 20px skyblue;
        }
      }
      &--reset {
        &:active {
          box-shadow: 0 0 20px red;
        }
      }
    }
  }
}
